set clipboard=unnamedplus
set scrolloff=5

" Do incremental searching.
set incsearch

set relativenumber

" Don't use Ex mode, use Q for formatting.
map Q gq

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'

" Next tab (like :buffer next)
nnoremap <S-L> :action NextTab<CR>
" Previous tab (like :buffer previous)
nnoremap <S-H> :action PreviousTab<CR>


" Use <Space> as <Leader>
let mapleader = " "

# flash.nvim in vim
nmap s <Action>(flash.search)
xmap s <Action>(flash.search)

" close other tabs
nnoremap <leader>bo :tabonly<CR>

" Fuzzier mappings : need to install fuzzier
map <Leader>ff <action>(com.mituuz.fuzzier.Fuzzier)
map <Leader>mf <action>(com.mituuz.fuzzier.FuzzyMover)
map <Leader>gf <action>(com.mituuz.fuzzier.FuzzierVCS)

" code actions
map <Leader>ca <action>(ShowIntentionActions)
" refactor
map <Leader>cr <action>(Refactorings.QuickListPopupAction)

" window movements as in neovim
nmap <C-h> <C-w>h
nmap <C-j> <C-w>j
nmap <C-k> <C-w>k
nmap <C-l> <C-w>l

" go to references
nmap gr :action FindUsages<CR>
