theme = "kanagawa"

[editor]
line-number = "relative"
mouse = false
bufferline = "multiple"
auto-save = true
true-color = true
cursorline = true

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

