[[language]]
name = "go"
auto-format = true
formatter = { command = "goimports" }

[language-server.gopls]
command = "gopls"
args = ["serve"]

[language-server.gopls.config]
gofumpt = true
staticcheck = true
usePlaceholders = true
completeUnimported = true
analyses = { unusedparams = true, nilness = true, shadow = true }

